/*CSS */
#body .camps > .i.x {
  border-radius: 4px;
  overflow: hidden; }

#body .tStatus {
  margin-bottom: 0;
  border-radius: 0; }

/*table tr:nth-child(even) td:nth-child(even){background: rgba(255, 255, 255, 0.5);}
 *table tr:nth-child(even) td:nth-child(odd){background: rgba(0, 0, 0, 0.5);}
 *table tr:nth-child(odd) td:nth-child(odd){background: rgba(255, 255, 255, 0.5);}
 *table tr:nth-child(odd) td:nth-child(even){background: rgba(0, 0, 0, 0.5);} */
table td[colspan] {
  text-align: center; }

table.table {
  background: #f9f9f9; }

div.form ul li {
  width: 25%;
  list-style: none;
  float: left;
  background-color: #4e5154;
  color: #fff;
  padding: 1em 0 1em 2.1em;
  position: relative;
  font-size: 1.1em;
  transition: color 600ms ease,background 600ms ease; }
  div.form ul li:hover, div.form ul li.active {
    background: #676768;
    cursor: pointer; }
  div.form ul li::before {
    border-left: 1.66em solid #f44336;
    border-top: 1.66em solid transparent;
    border-bottom: 1.66em solid transparent;
    border-left: 1.66em solid #ff4c02;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.chartBase {
  margin-top: 6em; }

.pie-chart {
  width: 25%; }

/*Create Campaing Form */
.form form {
  padding: 2em 0;
  display: none; }
  .form form.active {
    display: block; }
  .form form h1.zer0 {
    margin-bottom: 0.5em; }
  .form form .e {
    color: red;
    margin: 0.4em 0 0 0.6em; }
  .form form select {
    font-size: 1.4em;
    width: 140px; }
    .form form select.sub {
      width: 90px; }
    .form form select:focus {
      outline: none;
      border-color: rgba(255, 76, 2, 0.5);
      box-shadow: 0 0 4px 1px #ff4c02; }
    .form form select option {
      font-size: 0.7em; }
  .form form .pageLink {
    margin-top: 1em; }
  .form form .button {
    display: inline-block;
    background: #fff;
    color: #ff4c02;
    font-size: 1.2em;
    font-weight: 600;
    border: 3px solid #ff4c02;
    border-radius: 6px;
    padding: 0.4em 1.4em;
    -webkit-transition: background 400ms, color 400ms;
    -moz-transition: background 400ms, color 400ms;
    -ms-transition: background 400ms, color 400ms;
    -o-transition: background 400ms, color 400ms;
    transition: background 400ms, color 400ms;
    cursor: pointer; }
    .form form .button:hover {
      background: #ff4c02;
      color: #fff; }
    .form form .button:focus {
      outline: none; }
  .form form .intrestList {
    width: 100%; }
    .form form .intrestList .intrestItem {
      cursor: pointer;
      font-size: 1.2em; }
      .form form .intrestList .intrestItem.dropdown:hover .subList {
        display: block; }
      .form form .intrestList .intrestItem.dropdown .subList {
        font-size: 0.9em;
        display: none;
        padding-left: 1em; }
        .form form .intrestList .intrestItem.dropdown .subList .subItem:hover {
          background: rgba(0, 0, 0, 0.2); }

.formRem {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .formRem .box {
    background: #fff; }
    .formRem .box .header {
      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .formRem .box .header .pillBase {
        max-width: 1000px;
        margin: auto; }
      .formRem .box .header .i.block {
        padding: 1.5em 0 1.5em 2em;
        width: 25%;
        cursor: pointer; }
        .formRem .box .header .i.block:hover, .formRem .box .header .i.block.active {
          background: rgba(0, 0, 0, 0.09); }
        .formRem .box .header .i.block .circle {
          background: #ff4c02;
          border-radius: 50%;
          width: 2em;
          height: 2em; }
          .formRem .box .header .i.block .circle span {
            position: relative;
            top: 4px;
            color: #FFF;
            font-weight: 600; }
        .formRem .box .header .i.block .text {
          font-weight: 600;
          font-size: 1.2em;
          margin: 2px 0 0 10px; }
    .formRem .box .body .form form {
      padding: 0; }
      .formRem .box .body .form form .form-group {
        margin-bottom: 1em; }
      .formRem .box .body .form form .campEnd {
        padding-left: 10px; }
    .formRem .box .body .form .chips {
      margin-top: 1em; }
      .formRem .box .body .form .chips .chip {
        background: rgba(0, 0, 0, 0.1);
        float: left;
        padding: 0.5em 2.2em 0.5em 1em;
        margin: 0 1em 1em 0;
        border-radius: 4px;
        position: relative;
        font-weight: bold;
        cursor: pointer;
        transition: background 400ms; }
        .formRem .box .body .form .chips .chip:hover {
          background: rgba(0, 0, 0, 0.2); }
        .formRem .box .body .form .chips .chip .icon {
          position: absolute;
          top: 5px;
          right: 8px;
          font-size: 1.2em; }
          .formRem .box .body .form .chips .chip .icon .fa {
            color: #000; }
            .formRem .box .body .form .chips .chip .icon .fa:hover {
              color: #333; }
    .formRem .box .body .form .formBase {
      max-width: 1000px;
      width: 90%;
      padding: 1em 0;
      margin: auto; }
    .formRem .box .body .form .form-control {
      border-radius: 0; }
      .formRem .box .body .form .form-control:focus {
        border-color: #999999;
        box-shadow: 0 0 0 transparent; }

@media (max-width: 768px) {
  .formRem .box .header {
    overflow-y: hidden; }
    .formRem .box .header .i.block {
      padding-left: 0; }
      .formRem .box .header .i.block .circle {
        margin: auto;
        float: none; }
        .formRem .box .header .i.block .circle span {
          position: relative;
          top: 4px;
          color: #FFF;
          font-weight: 600; }
      .formRem .box .header .i.block .text {
        margin: auto;
        margin-top: 5px;
        float: none; }
  .formRem .box .body .form form .form-group .campEnd {
    padding-left: 0; }
  .formRem .box .body .form form .form-group .rewarde {
    margin-bottom: 3.3em; }
  .formRem .box .body .form form .form-group label.campdlabel {
    padding: 5px 0 0 0; }
  .formRem .box .body .form form .form-group .rewarde ~ .err {
    margin-top: 0em; }
  .formRem .box .body .form form .form-group.dbudget {
    margin-bottom: 2.8em; } }

@media (max-width: 991px) {
  .pie-chart {
    width: 50%;
    margin-bottom: 1em; } }

@media (max-width: 481px) {
  .pie-chart {
    width: 90%;
    margin: auto;
    margin-bottom: 1em; }
  .formRem .box .header {
    overflow-y: hidden; }
    .formRem .box .header .i.block {
      padding-left: 0; } }
