body {
  background: #f4f4f4;
}

.trs {
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  -o-transition: -o-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

#header {
  height: auto !important;
}

#header .navbar-fixed-top {
  background: #fff;
  height: auto !important;
  z-index: 5;
}

#header .container {
  margin: 0 auto;
}

#header .zer0 {
  height: auto !important;
}

#header .logo {
  float: none !important;
  width: 100px;
}

#header .nav.navbar-nav {
  margin: 0;
}

#header .navbar-nav a {
  color: #000;
}

#header .navbar-nav > li {
  border-radius: 0;
  padding: 7px 0.8em;
  line-height: 2.5em;
  font-size: 1.1em;
}

#header li.link {
  list-style: none;
  padding: 1.1em 0.5em;
  font-size: 1.1em;
}

#header li.link:last-child {
  padding: 1.1em 1em 1.1em 3em;
  font-size: 1.1em;
  cursor: pointer;
}

#header li:hover {
  background: none;
}

#header li.dropdown {
  position: relative;
}

#header li ul.menu {
  background: #fff;
  position: absolute;
  top: 100%;
  margin-top: 1px;
  left: 0;
  width: 100%;
  display: none;
}

#header li.dropdown:hover ul.menu li:hover {
  background: #dfdfdf;
}

#header li.dropdown li {
  list-style: none;
  border-radius: 0;
  padding: 0.6em 0 0.6em 1.5em;
  width: 100%;
}

#header li.dropdown:hover ul.menu, #header li.dropdown:focus ul.menu {
  display: block;
}

#header .profile {
  top: 0.5em;
  left: 0;
  position: absolute;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #ff4c01;
  margin-right: 0.8em;
}

#header .sideIcon, #header .sideBar {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
}

#header .sideIcon {
  font-size: 1.4em;
  margin: 0.7em 0 0 1em;
}

#header .sideIcon li {
  cursor: pointer;
}

#header .sideBar {
  z-index: 2;
  height: 100%;
  width: 200px;
  background: red;
  text-align: center;
  background: #353535;
  left: -100%;
}

#header .sideBar .linkBar {
  margin-top: 4.5em;
}

#header .sideBar .userDetail {
  width: 100%;
  display: block;
  color: #bcbcbc;
}

#header .sideBar .userDetail img {
  margin: 5.5em auto 1em 10%;
  border: 3px solid #fff;
  position: relative;
  box-shadow: 0 0 2px 1px #fff;
  border-radius: 50%;
  width: 80%;
}

#header .sideBar .userDetail h3 {
  margin: 0 0 0 1em;
}

#header .sideBar a:hover, #header .sideBar a:active, #header .sideBar a:focus {
  text-decoration: none;
  color: inherit;
}

#header .navLogo {
  position: fixed;
  z-index: 20;
  width: 96px;
  margin: 4px 2.8em;
  left: -100%;
}

#header .navLogo img {
  float: none !important;
  width: 100%;
}

#header .sideBar a {
  color: #bcbcbc;
}

#header .links {
  padding: 0.45em 2.5em;
  position: relative;
  color: #bcbcbc;
  font-size: 1.5em;
  cursor: pointer;
}

#header .links small small {
  position: absolute;
  margin: 5px 0 0 8px;
}

#header .links .dropdown {
  margin-top: 0.2em;
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 500ms, opacity 500ms;
  -moz-transition: height 500ms, opacity 500ms;
  -ms-transition: height 500ms, opacity 500ms;
  -o-transition: height 500ms, opacity 500ms;
  transition: height 500ms, opacity;
}

#header .links .item {
  font-size: 0.7em;
  padding: 0.15em 0;
  width: 100%;
}

#header .links:hover {
  background: #303030;
}

#header .links:hover li {
  color: #ff4c07;
}

#header .links:hover .dropdown {
  height: auto;
  opacity: 1;
}

#header .links li {
  font-size: 0.8em;
  left: 12px;
  top: 17px;
  position: absolute;
}

#ico:checked ~ .sideIcon {
  left: 190px;
}

#ico:checked ~ .sideBar, #ico:checked ~ .navLogo {
  left: 0;
  top: 0;
}

section {
  background: none !important;
}

#body {
  margin-top: 35px;
}

#header .aleft {
  -webkit-transition: left 500ms;
  -moz-transition: left 500ms;
  -ms-transition: left 500ms;
  -o-transition: left 500ms;
  transition: left 500ms;
}

#header .narbar-right {
  float: right !important;
}

#body .bg {
  background: url(../images/testBgx.jpg);
}

#body .bg h1 {
  color: #fff;
  font-weight: bold;
  padding: 2em 2.5em;
  line-height: 1.2em;
}

#body .links-box {
  background: #353535;
  border-radius: 5px;
  padding: 4em 0;
  margin: auto;
  text-align: center;
  position: relative;
}

#body .links-box p {
  color: #f3f3f3;
  font-size: 2em;
  position: absolute;
  top: 5em;
  margin: auto;
  text-align: center;
  width: 100%;
}

#body .links-box li {
  font-size: 4em;
  margin-bottom: 1em;
  color: #ff4c01;
}

#body .lc {
  padding: 0;
}

#body .breadcrumb {
  padding: 0;
  margin: 1em;
}

#body .breadcrumb li:hover .fa {
  color: #ff4c02;
}

#body .links-box:hover li {
  -webkit-transform: rotate(180deg) scale(1.2);
  -ms-transform: rotate(180deg) scale(1.2);
  transform: rotate(180deg) scale(1.2);
}

#body .tStatus {
  background: #353535;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  padding: 3em 0 2em 0;
  margin-bottom: 1.7em;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

#body .tStatus:hover .ibg {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#body .tStatus span::before {
  content: ": ";
}

#body .tStatus .ibg {
  position: absolute;
  opacity: 0.2;
  display: block;
  font-size: 4em;
  left: -8px;
  bottom: -14px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 400ms;
  -moz-transition: -moz-transform 400ms;
  -ms-transition: -ms-transform 400ms;
  -o-transition: -o-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

#body .base {
  position: relative;
  font-size: 2.6em;
  color: #353535;
}

#body .base .c {
  position: absolute !important;
  top: 0.58em;
  left: 0.57em;
  font-size: 0.5em;
  font-weight: bolder;
}

#body .base span.text {
  font-size: 1.8em;
  position: relative;
  top: -0.1em;
}

#body ul.tSideBar {
  list-style: none;
  width: 16%;
  font-size: 1.14em;
  float: left;
}

#body ul.tSideBar li {
  background: #353535;
  color: #bcbcbc;
  border-bottom: 1px solid #919293;
  padding: 0.7em 0.7em;
}

#body ul.tSideBar li:hover, #body ul.tSideBar li.active {
  font: 1.01em;
  background: #212429;
  color: #ff4c01;
}

#body div.tSideBody {
  padding-left: 0.5em;
  width: 84%;
  float: left;
}

#body div.taskbody {
  overflow: hidden;
  float: left;
  width: 33.33%;
  padding: 0 0.5em 1em 0.5em;
  position: relative;
}

#body div.taskbody.web h4.name {
  width: 100%;
}

#body div.taskbody .ytx {
  position: absolute;
  left: 0;
  right: 0;
  background: none;
  z-index: 9;
  width: 100%;
  height: 100%;
}

#body div.taskbody iframe.video {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
}

#body div.taskbody img {
  width: 100%;
}

#body div.taskbody .tHeader {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 0 0 1.5em;
  width: 100%;
  height: 80%;
  z-index: 12;
}

#body div.taskbody .logo {
  width: 4.4em;
  height: 4.4em;
  border: 2px solid #f3f3f3;
  background: red;
  float: left;
}

#body div.taskbody h4.name {
  float: left;
  color: #fff;
  font-size: 1.4em;
  text-shadow: 1px 3px 4px #000000;
  margin: 0.15em 0 0 0.3em;
  text-align: left;
  width: 74%;
}

#body div.taskbody div.fb-like, #body div.taskbody div.fb-share-button, #body div.taskbody div.twitter-follow-button, #body div.taskbody div.tx, #body div.taskbody a.fb-like, #body div.taskbody a.fb-share-button, #body div.taskbody a.twitter-follow-button, #body div.taskbody a.tx {
  position: absolute;
  bottom: 0;
  left: 1.5em;
}

#body div.taskbody div.bgHold, #body div.taskbody a.bgHold {
  position: relative;
}

#body div.taskbody div.tbg, #body div.taskbody a.tbg {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  -webkit-transition: top 400ms;
  -moz-transition: top 400ms;
  -ms-transition: top 400ms;
  -o-transition: top 400ms;
  transition: top 400ms;
}

#body div.taskbody:hover div.tbg {
  top: -3em;
}

#body div.taskbody span.coins {
  background: #4267b2;
  position: absolute;
  bottom: 0;
  right: 1.5em;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2em 0.6em;
  border-radius: 4px;
}

#body div.taskbody span.coins.yt {
  bottom: 2em;
  z-index: 15;
}

#body div.taskbody span.coins.tw {
  bottom: 2.5em;
  z-index: 15;
}

#body div .couponBase {
  float: left;
  padding: 0 1em 1em 1em;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

#body div .couponBase:nth-child(odd) {
  padding-left: 0.5em !important;
}

#body div .couponBase:nth-child(odd) .coupon.x:hover {
  -webkit-transform: rotate(-2deg) scale(1.05);
  -ms-transform: rotate(-2deg) scale(1.05);
  transform: rotate(-2deg) scale(1.05);
}

#body div .couponBase:nth-child(even) {
  padding-right: 0.5em !important;
}

#body div .couponBase:nth-child(even) .coupon.x:hover {
  -webkit-transform: rotate(2deg) scale(1.05);
  -ms-transform: rotate(2deg) scale(1.05);
  transform: rotate(2deg) scale(1.05);
}

#body div .couponBase:hover .header .text {
  text-shadow: 2px 2px 4px black;
}

#body div .couponBase .coupons.card {
  margin-bottom: 1em;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  display: block;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

#body div .couponBase .coupons.card .header {
  padding: 1em 0 1em 1em;
}

#body div .couponBase .coupons.card .header .logo {
  border-radius: 2em;
  width: 4em;
  height: 4em;
  background: red;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  float: left;
}

#body div .couponBase .coupons.card .header .text {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #ff4c02;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float: left;
}

#body div .couponBase .coupons.card .content .base {
  overflow: hidden;
}

#body div .couponBase .coupons.card .content .base .coupon {
  position: relative;
  width: 100%;
}

#body div .couponBase .coupons.card .content .base .coupon.x {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

@media (max-width: 1200px) {
  #body div.taskbody {
    width: 50%;
  }
  section#body .container {
    width: 100%;
    padding: 0 1em;
  }
}

@media (max-width: 990px) {
  #body ul.tSideBar {
    width: 20%;
  }
  #body div.tSideBody {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #body .container .col-sm-3.col-xs-6 {
    margin-bottom: 2em;
  }
  #body ul.tSideBar {
    width: 25%;
  }
  #body div.tSideBody {
    width: 75%;
  }
  #body div.taskbody {
    margin: 0 10%;
    width: 80% !important;
  }
  #header .navbar-fixed-top .container.i {
    padding-bottom: 4em;
  }
  #header .sideBar {
    overflow-y: auto;
  }
  #header .sideBar .linkBar {
    margin-top: 1em;
  }
}

@media (max-width: 601px) {
  #body .container .col-sm-3.col-xs-6 {
    margin: 0 15% 2em 15%;
    width: 70%;
  }
  #body ul.tSideBar {
    width: 30%;
  }
  #body div.tSideBody {
    width: 70%;
  }
  #body div.taskbody {
    margin: 0 5%;
    width: 90% !important;
  }
}

@media (max-width: 531px) {
  section.activity .engagment {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 481px) {
  #body ul.tSideBar {
    width: 100%;
  }
  #body div.tSideBody {
    width: 100%;
  }
  #body div.taskbody {
    margin: 0;
    width: 100% !important;
  }
  section.activity .engagment {
    width: 90%;
    margin-left: 5%;
  }
  #body .container .col-sm-3.col-xs-6 {
    margin: 0 0 2em 0;
    width: 100%;
  }
}

@media (max-width: 321px) {
  section.activity .engagment {
    width: 94%;
    margin-left: 3%;
  }
}
