doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.min.js')
      | \
      script(src='scripts/respond.js')
      script(src='scripts/html5shiv.js')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(rel='stylesheet', href='css/carouselFade.css', type='text/css')
    link(rel='stylesheet', href='css/dashboard.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='https://use.fontawesome.com/347a1bde59.css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    title Outreach Cartel
  body
    section#header
      .sideNav
        input#ico(type='checkbox', style='display: none;')
        span.sideIcon.aleft
          label(for='ico')
            li.fa.fa-bars
        .navLogo.aleft
          img(src='images/logo.png')
        .sideBar.aleft
          .userDetail.visible-xs
            img(src="images/BillGates.jpg")
            h3.text-left.name Fahad Moten
          .linkBar
            .visible-xs
              a
                .links
                  li.fa.fa-usd
                  |  Coins 
                  small
                    small  259
    
              a
                .links
                  li.fa.fa-file-o
                  |  Tasks 
                  small
                    small  10
    
              a(href='dashboard.html')
                .links
                  li.fa.fa-user-o
                  |   Profile
              
              a(href='dashboard.html')
                .links
                  li.fa.fa-gear
                  |   Settings
              
              a(href='dashboard.html')
                .links
                  li.fa.fa-power-off
                  |   Log Out
            a(href='dashboard.html')
              .links
                li.fa.fa-home
                |   Home
            a(href='tasks.html')
              .links
                li.fa.fa-cog.trs
                |   Task
            a(href='activity.html')
              .links
                li.fa.fa-database
                |   Activity
            a(href='withdraw.html')
              .links
                li.fa.fa-usd
                |   Withdraw
      .navbar.navbar-fixed-top
        .container.i
          ul.float-right.zer0
            .i.hidden-xs
              li.float-left.link O`Coins : 259
              li.float-left.link tasks Availble : 10
              li.dropdown.float-left.link
                img.profile(src='images/BillGates.jpg')
                |  Fahad 
                strong.caret
                ul.menu
                  li Profile
                  li Settings
                  li Logout
    section
      section#body.activity
        .container.lc
          .bg
            h1
              | Hello,
              br
              |  Welcome Back Fahad
          ol.breadcrumb
            li
              a(href='dashboard.html')
                span.fa.fa-home
                |  Home
            li.active
              a(href='activity.html')
                span.fa.fa-database
                |  Activity
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#fbModal')
              p
                | Facebook Engagment 
                span 48
              li.fa.fa-facebook.ibg.trs
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#twModal')
              p
                | Twitter Engagment 
                span 8
              li.fa.fa-twitter.ibg.trs
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#wbModal')
              p
                | Website Visited 
                span 45
              li.fa.fa-globe.ibg.trs
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#yuModal')
              p
                | Videos Watched 
                span 4
              li.fa.fa-youtube.ibg.trs
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#tcModal')
              p
                | Total Coins 
                span 259
              li.fa.fa-usd.ibg.trs
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#ceModal')
              p
                | Coins Earned 
                span 660
              li.fa.fa-usd.ibg.trs
          .col-sm-4.col-md-3.col-xs-6.engagment
            .tStatus(data-toggle='modal', data-target='#csModal')
              p
                | Coins Spend 
                span 401
              li.fa.fa-usd.ibg.trs
      section.modals
        #fbModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 Facebook Engagments
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Best Photograpphers
                      td
                        i.fa.fa-thumbs-o-up
                      td 40
                      td 14-05-16
                    tr
                      td 2
                      td New Photograpphers
                      td
                        i.fa.fa-thumbs-o-up
                      td 30
                      td 14-05-16
                    tr
                      td 3
                      td Abc Resturant
                      td
                        i.fa.fa-share-alt
                      td 5
                      td 13-05-16
                    tr
                      td 4
                      td random
                      td
                        i.fa.fa-thumbs-o-up
                      td 15
                      td 12-05-16
                    tr
                      td 5
                      td Fit Gym
                      td
                        i.fa.fa-share-alt
                      td 50
                      td 11-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
        #twModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 twitter Engagments
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Best Photograpphers
                      td
                        i.fa.fa-plus-square
                      td 40
                      td 14-05-16
                    tr
                      td 2
                      td New Photograpphers
                      td
                        i.fa.fa-plus-square
                      td 30
                      td 14-05-16
                    tr
                      td 3
                      td Abc Resturant
                      td
                        i.fa.fa-twitter
                      td 5
                      td 13-05-16
                    tr
                      td 4
                      td random
                      td
                        i.fa.fa-plus-square
                      td 15
                      td 12-05-16
                    tr
                      td 5
                      td Fit Gym
                      td
                        i.fa.fa-twitter
                      td 50
                      td 11-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
        #wbModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 WebSite Visits
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Best Photograpphers
                      td
                        i.fa.fa-globe
                      td 40
                      td 14-05-16
                    tr
                      td 2
                      td New Photograpphers
                      td
                        i.fa.fa-globe
                      td 30
                      td 14-05-16
                    tr
                      td 3
                      td Abc Resturant
                      td
                        i.fa.fa-globe
                      td 5
                      td 13-05-16
                    tr
                      td 4
                      td random
                      td
                        i.fa.fa-globe
                      td 15
                      td 12-05-16
                    tr
                      td 5
                      td Fit Gym
                      td
                        i.fa.fa-globe
                      td 50
                      td 11-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
        #yuModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 Videos Watched
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Best Photograpphers
                      td
                        i.fa.fa-youtube-play
                      td 40
                      td 14-05-16
                    tr
                      td 2
                      td New Photograpphers
                      td
                        i.fa.fa-youtube-play
                      td 30
                      td 14-05-16
                    tr
                      td 3
                      td Abc Resturant
                      td
                        i.fa.fa-youtube-play
                      td 5
                      td 13-05-16
                    tr
                      td 4
                      td random
                      td
                        i.fa.fa-youtube-play
                      td 15
                      td 12-05-16
                    tr
                      td 5
                      td Fit Gym
                      td
                        i.fa.fa-youtube-play
                      td 50
                      td 11-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
        #tcModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 Total Coins
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Best Photograpphers
                      td
                        i.fa.fa-globe
                      td +40
                      td 14-05-16
                    tr
                      td 2
                      td Bank Width Draw
                      td
                        i.fa.fa-bank
                      td -950
                      td 14-05-16
                    tr
                      td 3
                      td Mobile Credit
                      td
                        i.fa.fa-mobile
                      td -350
                      td 13-05-16
                    tr
                      td 4
                      td Random Gym 
                      td
                        i.fa.fa-youtube-play
                      td +15
                      td 12-05-16
                    tr
                      td 5
                      td Fit Gym
                      td
                        i.fa.fa-twitter
                      td +50
                      td 11-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
        #ceModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 Coins Earned
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Best Photograpphers
                      td
                        i.fa.fa-thumbs-o-up
                      td 40
                      td 14-05-16
                    tr
                      td 2
                      td New Photograpphers
                      td
                        i.fa.fa-globe
                      td 30
                      td 14-05-16
                    tr
                      td 3
                      td Abc Resturant
                      td
                        i.fa.fa-globe
                      td 5
                      td 13-05-16
                    tr
                      td 4
                      td random
                      td
                        i.fa.fa-youtube-play
                      td 15
                      td 12-05-16
                    tr
                      td 5
                      td Fit Gym
                      td
                        i.fa.fa-twitter
                      td 50
                      td 11-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
        #csModal.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3 coins Spend
              .modal-body.zer0
                .table-responsive
                  table.table
                    tr
                      td S.no
                      td Name
                      td Type
                      td Coins
                      td Date
                    tr
                      td 1
                      td Bank Width Draw
                      td
                        i.fa.fa-bank
                      td -950
                      td 14-05-16
                    tr
                      td 2
                      td Fit Gym
                      td
                        i.fa.fa-mobile
                      td -350
                      td 13-05-16
              .modal-footer
                .btn.btn-primary(data-dismiss='modal') Close
      script(src='js/jquery.js')
      script(src='js/bootstrap.js')
      script(src='js/mobile.js')
      script(src='js/dashboard.js')
