doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="theme-color",content="#ff4c02")
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.min.js')
      script(src='scripts/respond.js')
      script(src='scripts/html5shiv.js')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(rel='stylesheet', href='css/carouselFade.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='https://use.fontawesome.com/347a1bde59.css')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    title Outreach Cartel
  body
    .adButton Are you an Adevertiser
    section#header
      .navbar.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle(data-target='#ex', data-toggle='collapse')
              i.fa.fa-bars
            a.navbar-brand.zer0(href='index.html')
              img(src='images/logo.png')
          #ex.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='#/') Home
              li
                a(href='#/') Benifits
              li
                a(href='#/') Services
              li
                a(href='#/') Contact US
              li
                a(href='#/') Sign In
      .text
        h1.zer0 Disrupting the Digital Marketing
      video.video#video(playsinline='', autoplay='', muted='', loop='')
        source(src='video/ad.mp4')
    section#welcome.sff
      .i.container
        .text.float-left
          h1.font-primary
            | Welome To Outreach Cartel
          .barx
          h3
            | Outreach cartel is online digital marketing portal.
            | You can earn money online by doing simple tasks.
            | You don't need to invest any money 
        .image.float-left
          img(src='images/p/w2.png')
          img.m(src='images/p/w1.png')
    section#services.sf4
      .container
        .i
          .col-sm-4
            li.fa.fa-user-o
            h4.zer0.font-secondary Scalable on Devices.
            h3.zer0 Our Ui
            p Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.

          .col-sm-4
            li.fa.fa-heart-o
            h4.zer0.font-secondary Optimmized & Maintained
            h3.zer0 powerful porformance
            p Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.

          .col-sm-4
            li.fa.fa-flask
            h4.zer0.font-secondary Flexible & Customizable.
            h3.zer0 campaigns
            p Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.

    section#how.sff
      .container
        h1 HOW IT WORKS?
        .col-sm-6.col-md-3
          .box
            .icon
              .animation.x
              i.fa.fa-user
            .text
              h2 #1
              h4 Sign Up on our website
        .col-sm-6.col-md-3
          .box
            .icon
              .animation.x
              i.fa.fa-lightbulb-o
            .text
              h2 #2
              h4  Create and manage your AD campaign
        .col-sm-6.col-md-3
          .box
            .icon
              .animation.x
              i.fa.fa-mobile
            .text
              h2 #3
              h4 Connect with your target audience
        .col-sm-6.col-md-3
          .box
            .icon
              .animation.x
              i.fa.fa-line-chart
            .text
              h2 #4
              h4 Get detailed analytics about your campaign
    section#how.sf4
      .container
        h1 Our Services
        .col-sm-6.col-md-3
          .box
            .icon
              .animation
              i.fa.fa-facebook
            .text
              h4 Facebook
        .col-sm-6.col-md-3
          .box
            .bg
            .icon
              .animation
              i.fa.fa-twitter
            .text
              h4 Twitter
        .col-sm-6.col-md-3
          .box
            .icon
              .animation
              i.fa.fa-youtube-play
            .text
              h4 Youtube
        .col-sm-6.col-md-3
          .box
            .icon
              .animation
              i.fa.fa-globe
            .text
              h4 Website
    section#features.sff
      .container.i
        .text.text-center
          h1 MORE FEATURE
          h3.desc
            | Philanthropy convener livelihoods, initiative end hunger gender
            | rights local. John Lennon storytelling; advocate, altruism impact catalyst.
          .barx
        .content
          .col-md-4.col-sm-6.col-xs-11.x
            .i.box
              .float-right.text-center.icon
                .base
                  i.fa.fa-heart-o
              .float-right.text-right.text
                h4.zer0 BOXED & WIDE LAYOUTS
                p.zer0 Stretch your to the Full Width or make it boxed to surprise your visitors.
            .i.box
              .float-right.text-center.icon
                .base
                  i.fa.fa-heart-o
              .float-right.text-right.text
                h4.zer0 WIDE LAYOUTS
                p.zer0 Stretch your to the Full Width or make it boxed to surprise your visitors.
            .i.box
              .float-right.text-center.icon
                .base
                  i.fa.fa-heart-o
              .float-right.text-right.text
                h4.zer0 BOX LAYOUTS
                p.zer0 Stretch your to the Full Width or make it boxed to surprise your visitors.
          .col-md-4.hidden-sm
            img.mob(src="images/mobile.png")
          .col-md-4.col-sm-6.col-xs-11.x
            .i.box.left
              .float-left.text-center.icon
                .base
                  i.fa.fa-heart-o
              .float-left.text-left.text
                h4.zer0 BOXED & WIDE LAYOUTS
                p.zer0 Stretch your to the Full Width or make it boxed to surprise your visitors.
            .i.box.left
              .float-left.text-center.icon
                .base
                  i.fa.fa-heart-o
              .float-left.text-left.text
                h4.zer0 WIDE LAYOUTS
                p.zer0 Stretch your to the Full Width or make it boxed to surprise your visitors.
            .i.box.left
              .float-left.text-center.icon
                .base
                  i.fa.fa-heart-o
              .float-left.text-left.text
                h4.zer0 BOX LAYOUTS
                p.zer0 Stretch your to the Full Width or make it boxed to surprise your visitors.
    section#stats.stats
      .box
        .v
          .icon
            i.fa.fa-user-plus
          .no 200+
          .barx
          .text Advertising Companies
        .bg
      .box
        .v
          .icon
            i.fa.fa-users
          .no 9000+
          .barx
          .text Registerd Users
        .bg
      .box
        .v
          .icon
            i.fa.fa-cubes
          .no 500+
          .barx
          .text No Of Acive Campaigns
        .bg
      .box
        .v
          .icon
            i.fa.fa-money
          .no 3500+
          .barx
          .text Coupons Available
        .bg
    section#footer
      .container.i
        h1.text-center Message Us
        form
          .form-group.col-sm-6
            input.form-control(type="text")
            label Your Name
          .form-group.col-sm-6
            input.form-control(type="email")
            label Email
          .form-group.col-sm-12
            textarea.form-control
            label Message
          
    section#copyright
      .container.i
        p.zer0.float-left
          | Copyrights &copy; 2016 All Rights Reserved by Outreach Cartel.
        p.float-right.hidden-xs
          a(href="mailto:") hello@Outreachcartel.com 
          a(href="") +92 300 2200221
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/mobile.js')
    script(src='js/script.js')
